<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>D-Pad Up</key>
	<dict>
		<key>buttonId</key>
		<string>0</string>
		<key>pressNotificationName</key>
		<string>NOTIFICATION_D_PAD_UP_PRESS</string>
		<key>releaseNotificationName</key>
		<string>NOTIFICATION_D_PAD_UP_RELEASE</string>
		<key>OS</key>
		<dict>
			<key>MAW</key>
			<dict>
				<key>player1KeyPress</key>
				<string>ARROW_UP</string>
				<key>player2KeyPress</key>
				<string>I</string>
			</dict>
			<key>iOS</key>
			<dict>
				<key>player1KeyPress</key>
				<string>W</string>
				<key>player1KeyRelease</key>
				<string>E</string>
				<key>player2KeyPress</key>
				<string>[</string>
				<key>player2KeyRelease</key>
				<string>]</string>
			</dict>
		</dict>
	</dict>
	<key>D-Pad Right</key>
	<dict>
		<key>buttonId</key>
		<string>1</string>
		<key>pressNotificationName</key>
		<string>NOTIFICATION_D_PAD_RIGHT_PRESS</string>
		<key>releaseNotificationName</key>
		<string>NOTIFICATION_D_PAD_RIGHT_RELEASE</string>
		<key>OS</key>
		<dict>
			<key>MAW</key>
			<dict>
				<key>player1KeyPress</key>
				<string>ARROW_RIGHT</string>
				<key>player2KeyPress</key>
				<string>L</string>
			</dict>
			<key>iOS</key>
			<dict>
				<key>player1KeyPress</key>
				<string>D</string>
				<key>player1KeyRelease</key>
				<string>C</string>
				<key>player2KeyPress</key>
				<string>I</string>
				<key>player2KeyRelease</key>
				<string>M</string>
			</dict>
		</dict>
	</dict>
	<key>D-Pad Down</key>
	<dict>
		<key>buttonId</key>
		<string>2</string>
		<key>pressNotificationName</key>
		<string>NOTIFICATION_D_PAD_DOWN_PRESS</string>
		<key>releaseNotificationName</key>
		<string>NOTIFICATION_D_PAD_DOWN_RELEASE</string>
		<key>OS</key>
		<dict>
			<key>MAW</key>
			<dict>
				<key>player1KeyPress</key>
				<string>ARROW_DOWN</string>
				<key>player2KeyPress</key>
				<string>K</string>
			</dict>
			<key>iOS</key>
			<dict>
				<key>player1KeyPress</key>
				<string>X</string>
				<key>player1KeyRelease</key>
				<string>Z</string>
				<key>player2KeyPress</key>
				<string>S</string>
				<key>player2KeyRelease</key>
				<string>B</string>
			</dict>
		</dict>
	</dict>
	<key>D-Pad Left</key>
	<dict>
		<key>buttonId</key>
		<string>3</string>
		<key>pressNotificationName</key>
		<string>NOTIFICATION_D_PAD_LEFT_PRESS</string>
		<key>releaseNotificationName</key>
		<string>NOTIFICATION_D_PAD_LEFT_RELEASE</string>
		<key>OS</key>
		<dict>
			<key>MAW</key>
			<dict>
				<key>player1KeyPress</key>
				<string>LEFT_ARROW</string>
				<key>player2KeyPress</key>
				<string>J</string>
			</dict>
			<key>iOS</key>
			<dict>
				<key>player1KeyPress</key>
				<string>A</string>
				<key>player1KeyRelease</key>
				<string>Q</string>
				<key>player2KeyPress</key>
				<string>U</string>
				<key>player2KeyRelease</key>
				<string>F</string>
			</dict>
		</dict>
	</dict>
	<key>M</key>
	<dict>
		<key>buttonId</key>
		<string>4</string>
		<key>pressNotificationName</key>
		<string>NOTIFICATION_M_PRESS</string>
		<key>releaseNotificationName</key>
		<string>NOTIFICATION_M_RELEASE</string>
		<key>OS</key>
		<dict>
			<key>MAW</key>
			<dict>
				<key>player1KeyPress</key>
				<string>M</string>
				<key>player2KeyPress</key>
				<string>T</string>
			</dict>
			<key>iOS</key>
			<dict>
				<key>player1KeyPress</key>
				<string>O</string>
				<key>player1KeyRelease</key>
				<string>G</string>
				<key>player2KeyPress</key>
				<string>7</string>
				<key>player2KeyRelease</key>
				<string>8</string>
			</dict>
		</dict>
	</dict>
	<key>V</key>
	<dict>
		<key>buttonId</key>
		<string>5</string>
		<key>pressNotificationName</key>
		<string>NOTIFICATION_V_PRESS</string>
		<key>releaseNotificationName</key>
		<string>NOTIFICATION_V_RELEASE</string>
		<key>OS</key>
		<dict>
			<key>MAW</key>
			<dict>
				<key>player1KeyPress</key>
				<string>V</string>
				<key>player2KeyPress</key>
				<string>H</string>
			</dict>
			<key>iOS</key>
			<dict>
				<key>player1KeyPress</key>
				<string>Y</string>
				<key>player1KeyRelease</key>
				<string>T</string>
				<key>player2KeyPress</key>
				<string>3</string>
				<key>player2KeyRelease</key>
				<string>4</string>
			</dict>
		</dict>
	</dict>
	<key>W</key>
	<dict>
		<key>buttonId</key>
		<string>6</string>
		<key>pressNotificationName</key>
		<string>NOTIFICATION_W_PRESS</string>
		<key>releaseNotificationName</key>
		<string>NOTIFICATION_W_RELEASE</string>
		<key>OS</key>
		<dict>
			<key>MAW</key>
			<dict>
				<key>player1KeyPress</key>
				<string>W</string>
				<key>player2KeyPress</key>
				<string>G</string>
			</dict>
			<key>iOS</key>
			<dict>
				<key>player1KeyPress</key>
				<string>K</string>
				<key>player1KeyRelease</key>
				<string>P</string>
				<key>player2KeyPress</key>
				<string>1</string>
				<key>player2KeyRelease</key>
				<string>2</string>
			</dict>
		</dict>
	</dict>
	<key>A</key>
	<dict>
		<key>buttonId</key>
		<string>7</string>
		<key>pressNotificationName</key>
		<string>NOTIFICATION_A_PRESS</string>
		<key>releaseNotificationName</key>
		<string>NOTIFICATION_A_RELEASE</string>
		<key>OS</key>
		<dict>
			<key>MAW</key>
			<dict>
				<key>player1KeyPress</key>
				<string>A</string>
				<key>player2KeyPress</key>
				<string>F</string>
			</dict>
			<key>iOS</key>
			<dict>
				<key>player1KeyPress</key>
				<string>L</string>
				<key>player1KeyRelease</key>
				<string>V</string>
				<key>player2KeyPress</key>
				<string>5</string>
				<key>player2KeyRelease</key>
				<string>6</string>
			</dict>
		</dict>
	</dict>
	<key>Right Shoulder</key>
	<dict>
		<key>buttonId</key>
		<string>8</string>
		<key>pressNotificationName</key>
		<string>NOTIFICATION_RIGHT_SHOULDER_PRESS</string>
		<key>releaseNotificationName</key>
		<string>NOTIFICATION_RIGHT_SHOULDER_RELEASE</string>
		<key>OS</key>
		<dict>
			<key>MAW</key>
			<dict>
				<key>player1KeyPress</key>
				<string>N</string>
				<key>player2KeyPress</key>
				<string>B</string>
			</dict>
			<key>iOS</key>
			<dict>
				<key>player1KeyPress</key>
				<string>J</string>
				<key>player1KeyRelease</key>
				<string>N</string>
				<key>player2KeyPress</key>
				<string>-</string>
				<key>player2KeyRelease</key>
				<string>=</string>
			</dict>
		</dict>
	</dict>
	<key>Left Shoulder</key>
	<dict>
		<key>buttonId</key>
		<string>9</string>
		<key>pressNotificationName</key>
		<string>NOTIFICATION_LEFT_SHOULDER_PRESS</string>
		<key>releaseNotificationName</key>
		<string>NOTIFICATION_LEFT_SHOULDER_RELEASE</string>
		<key>OS</key>
		<dict>
			<key>MAW</key>
			<dict>
				<key>player1KeyPress</key>
				<string>U</string>
				<key>player2KeyPress</key>
				<string>C</string>
			</dict>
			<key>iOS</key>
			<dict>
				<key>player1KeyPress</key>
				<string>H</string>
				<key>player1KeyRelease</key>
				<string>R</string>
				<key>player2KeyPress</key>
				<string>9</string>
				<key>player2KeyRelease</key>
				<string>0</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
