<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>D-Pad Up</key>
	<dict>
		<key>buttonId</key>
		<integer>0</integer>
		<key>notificationString</key>
		<string>D_PAD_UP</string>
		<key>OS</key>
		<dict>
			<key>MAW</key>
			<dict>
				<key>player1KeyPress</key>
				<string>ARROW_UP</string>
				<key>player2KeyPress</key>
				<string>i</string>
			</dict>
			<key>iOS</key>
			<dict>
				<key>player1KeyPress</key>
				<string>w</string>
				<key>player1KeyRelease</key>
				<string>e</string>
				<key>player2KeyPress</key>
				<string>[</string>
				<key>player2KeyRelease</key>
				<string>]</string>
			</dict>
		</dict>
	</dict>
	<key>D-Pad Right</key>
	<dict>
		<key>buttonId</key>
		<integer>1</integer>
		<key>notificationString</key>
		<string>D_PAD_RIGHT</string>
		<key>OS</key>
		<dict>
			<key>MAW</key>
			<dict>
				<key>player1KeyPress</key>
				<string>ARROW_RIGHT</string>
				<key>player2KeyPress</key>
				<string>l</string>
			</dict>
			<key>iOS</key>
			<dict>
				<key>player1KeyPress</key>
				<string>d</string>
				<key>player1KeyRelease</key>
				<string>c</string>
				<key>player2KeyPress</key>
				<string>i</string>
				<key>player2KeyRelease</key>
				<string>m</string>
			</dict>
		</dict>
	</dict>
	<key>D-Pad Down</key>
	<dict>
		<key>buttonId</key>
		<integer>2</integer>
		<key>notificationString</key>
		<string>D_PAD_DOWN</string>
		<key>OS</key>
		<dict>
			<key>MAW</key>
			<dict>
				<key>player1KeyPress</key>
				<string>ARROW_DOWN</string>
				<key>player2KeyPress</key>
				<string>k</string>
			</dict>
			<key>iOS</key>
			<dict>
				<key>player1KeyPress</key>
				<string>x</string>
				<key>player1KeyRelease</key>
				<string>z</string>
				<key>player2KeyPress</key>
				<string>s</string>
				<key>player2KeyRelease</key>
				<string>b</string>
			</dict>
		</dict>
	</dict>
	<key>D-Pad Left</key>
	<dict>
		<key>buttonId</key>
		<integer>3</integer>
		<key>notificationString</key>
		<string>D_PAD_LEFT</string>
		<key>OS</key>
		<dict>
			<key>MAW</key>
			<dict>
				<key>player1KeyPress</key>
				<string>LEFT_ARROW</string>
				<key>player2KeyPress</key>
				<string>j</string>
			</dict>
			<key>iOS</key>
			<dict>
				<key>player1KeyPress</key>
				<string>a</string>
				<key>player1KeyRelease</key>
				<string>q</string>
				<key>player2KeyPress</key>
				<string>u</string>
				<key>player2KeyRelease</key>
				<string>f</string>
			</dict>
		</dict>
	</dict>
	<key>M</key>
	<dict>
		<key>buttonId</key>
		<integer>4</integer>
		<key>notificationString</key>
		<string>M</string>
		<key>OS</key>
		<dict>
			<key>MAW</key>
			<dict>
				<key>player1KeyPress</key>
				<string>m</string>
				<key>player2KeyPress</key>
				<string>t</string>
			</dict>
			<key>iOS</key>
			<dict>
				<key>player1KeyPress</key>
				<string>o</string>
				<key>player1KeyRelease</key>
				<string>g</string>
				<key>player2KeyPress</key>
				<string>7</string>
				<key>player2KeyRelease</key>
				<string>8</string>
			</dict>
		</dict>
	</dict>
	<key>V</key>
	<dict>
		<key>buttonId</key>
		<integer>5</integer>
		<key>notificationString</key>
		<string>V</string>
		<key>OS</key>
		<dict>
			<key>MAW</key>
			<dict>
				<key>player1KeyPress</key>
				<string>v</string>
				<key>player2KeyPress</key>
				<string>h</string>
			</dict>
			<key>iOS</key>
			<dict>
				<key>player1KeyPress</key>
				<string>y</string>
				<key>player1KeyRelease</key>
				<string>t</string>
				<key>player2KeyPress</key>
				<string>3</string>
				<key>player2KeyRelease</key>
				<string>4</string>
			</dict>
		</dict>
	</dict>
	<key>W</key>
	<dict>
		<key>buttonId</key>
		<integer>6</integer>
		<key>notificationString</key>
		<string>W</string>
		<key>OS</key>
		<dict>
			<key>MAW</key>
			<dict>
				<key>player1KeyPress</key>
				<string>w</string>
				<key>player2KeyPress</key>
				<string>g</string>
			</dict>
			<key>iOS</key>
			<dict>
				<key>player1KeyPress</key>
				<string>k</string>
				<key>player1KeyRelease</key>
				<string>p</string>
				<key>player2KeyPress</key>
				<string>1</string>
				<key>player2KeyRelease</key>
				<string>2</string>
			</dict>
		</dict>
	</dict>
	<key>A</key>
	<dict>
		<key>buttonId</key>
		<integer>7</integer>
		<key>notificationString</key>
		<string>A</string>
		<key>OS</key>
		<dict>
			<key>MAW</key>
			<dict>
				<key>player1KeyPress</key>
				<string>a</string>
				<key>player2KeyPress</key>
				<string>f</string>
			</dict>
			<key>iOS</key>
			<dict>
				<key>player1KeyPress</key>
				<string>l</string>
				<key>player1KeyRelease</key>
				<string>v</string>
				<key>player2KeyPress</key>
				<string>5</string>
				<key>player2KeyRelease</key>
				<string>6</string>
			</dict>
		</dict>
	</dict>
	<key>Right Shoulder</key>
	<dict>
		<key>buttonId</key>
		<integer>8</integer>
		<key>notificationString</key>
		<string>RIGHT_SHOULDER</string>
		<key>OS</key>
		<dict>
			<key>MAW</key>
			<dict>
				<key>player1KeyPress</key>
				<string>n</string>
				<key>player2KeyPress</key>
				<string>b</string>
			</dict>
			<key>iOS</key>
			<dict>
				<key>player1KeyPress</key>
				<string>j</string>
				<key>player1KeyRelease</key>
				<string>n</string>
				<key>player2KeyPress</key>
				<string>-</string>
				<key>player2KeyRelease</key>
				<string>=</string>
			</dict>
		</dict>
	</dict>
	<key>Left Shoulder</key>
	<dict>
		<key>buttonId</key>
		<integer>9</integer>
		<key>notificationString</key>
		<string>LEFT_SHOULDER</string>
		<key>OS</key>
		<dict>
			<key>MAW</key>
			<dict>
				<key>player1KeyPress</key>
				<string>u</string>
				<key>player2KeyPress</key>
				<string>c</string>
			</dict>
			<key>iOS</key>
			<dict>
				<key>player1KeyPress</key>
				<string>h</string>
				<key>player1KeyRelease</key>
				<string>r</string>
				<key>player2KeyPress</key>
				<string>9</string>
				<key>player2KeyRelease</key>
				<string>0</string>
			</dict>
		</dict>
	</dict>
	<key>Mode Change - Media</key>
	<dict>
		<key>notificationString</key>
		<string>NOTIFICATION_MODE_MEDIA</string>
		<key>keyPress</key>
		<string>!</string>
	</dict>
	<key>Mode Change - Game</key>
	<dict>
		<key>notificationString</key>
		<string>NOTIFICATION_MODE_GAME</string>
		<key>keyPress</key>
		<string>@</string>
	</dict>
	<key>Mode Change - MAW</key>
	<dict>
		<key>notificationString</key>
		<string>NOTIFICATION_MODE_MAW</string>
		<key>keyPress</key>
		<string>#</string>
	</dict>
	<key>Mode Change - iOS</key>
	<dict>
		<key>notificationString</key>
		<string>NOTIFICATION_MODE_IOS</string>
		<key>keyPress</key>
		<string>$</string>
	</dict>
	<key>Mode Change - Left Hand</key>
	<dict>
		<key>notificationString</key>
		<string>NOTIFICATION_MODE_LEFT</string>
		<key>keyPress</key>
		<string>%</string>
	</dict>
	<key>Mode Change - Right Hand</key>
	<dict>
		<key>notificationString</key>
		<string>NOTIFICATION_MODE_RIGHT</string>
		<key>keyPress</key>
		<string>^</string>
	</dict>
	<key>Mode Change - Player 1 iOS</key>
	<dict>
		<key>notificationString</key>
		<string>NOTIFICATION_MODE_PLAYER1</string>
		<key>keyPress</key>
		<string>&amp;</string>
	</dict>
	<key>Mode Change - Player 1 MAW</key>
	<dict>
		<key>notificationString</key>
		<string>NOTIFICATION_MODE_PLAYER1</string>
		<key>keyPress</key>
		<string>*</string>
	</dict>
	<key>Mode Change - Player 2 iOS</key>
	<dict>
		<key>notificationString</key>
		<string>NOTIFICATION_MODE_PLAYER2</string>
		<key>keyPress</key>
		<string>(</string>
	</dict>
	<key>Mode Change - Player 2 MAW</key>
	<dict>
		<key>notificationString</key>
		<string>NOTIFICATION_MODE_PLAYER2</string>
		<key>keyPress</key>
		<string>)</string>
	</dict>
</dict>
</plist>
